/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background: rgb(250, 246, 243);
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
}





/* ------main-header------- */

#logo{
    width: 85%;
    display: flex;
    justify-content: flex-end;
}
.navbar{
    background: #412e11;
    height: 100px;
}
.textSize{
    font-size: 22px;

}
.navbar-nav{
    display: flex;
    justify-content: flex-end;
}
.left-menu{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}





/* ------news and product-------- */

.newsAndProduct{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    justify-content: center;
}

/* --------news------ */
.newsAndProduct-Head{
    padding-top: 50px;
    font-family: mainfont-medium;
    color: rgb(117,76,36);
}

.news {
  width: 30%;
  flex-wrap: nowrap;
  align-content: center;
  color: rgb(115,99,87);
}

.line{
    color:rgb(201, 139, 24);
}

#newsHead{
    font-size: 25px;
    padding: 5px 15px;
}

#newsContent{
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: mainfont-light;
    align-items: center;
    padding: 5px 15px;
}




/* --------Product------ */

.Product-card {
  width: 70%;
  flex-wrap: wrap;
  align-content: center;
  color: rgb(115,99,87);
}












