/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background: rgb(250, 246, 243);
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
}

/* ------main-header------- */

.main{
    /* margin: 0 auto; */
    width: 100%;
    display: flex;
   
}

 /* ------side-menu------- */
  

.side-menu{
    height: 100%;
    border-right: black dotted ;
    border-width: 0.25rem;
}
.side-menu .button{
    height: 5rem;
}

/* ------.title------- */
.title{
    color:  rgb(117,76,36);
  
}
/* ------.mainborder------- */

.mainborder{
   
    border:black solid ;
}

