
/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background: rgb(250, 246, 243);
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
}

/* ------midlecontent------- */
.midlecontent{
    margin: 0 auto;
    height: 80vh;
}
/* ------side-menu------- */
.side-menu{
    height: 80vh;
    border-right: black dotted ;
    border-width: 0.25rem;
}
.side-menu .button{
    height: 5rem;
}

/* ------mainborder------- */
.mainborder{
   
    border:black solid ;
}
/* ------.title------- */
.title{
    color:  rgb(117,76,36);
  
}
/* ------dmcontainer------- */
.dmcontainer{
    padding: 2rem;
}

/* ------dmsee------- */
.dmsee{
    display: flex;
    justify-content: center;
    border: rgb(20, 19, 19) solid;

}


