/* --------全域設定------ */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: mainfont-medium;
}

/* 源泉圓體字型命名!! */
@font-face {
	font-family: mainfont-medium;
	src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
	font-family: mainfont-light;
	src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
	font-family: mainfont-regular;
	src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body {
	/* background: rgb(250, 246, 243); */
	background-image: url(../image/background7.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat-y;
}

/* ---------title------ */
.menuAd{
	margin-bottom: 30px;
}

.rentProductMenu-title {
	/* margin-top: 30px; */
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	/* margin-bottom: 10px; */
	width: 95%;
	margin:10px auto;
	
}

/* --------sideList------ */
.sideList-title {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 0.5px solid #ccc; */
	background-color: rgb(219, 149, 117);
	color: white;
	font-size: 24px;
	letter-spacing: 2px;
	padding: 8px 0px;
}

.discount-title{
	background-color: rgb(206, 42, 42);
}

.sideList {
	padding: 10px;
	font-size: medium;
	background-color: white;
}

.sideList>a {
	font-family:mainfont-regular;
	text-decoration: none;
	font-size: 18px;
	color:saddlebrown;

}

.text-center{
	background-color: white;
}

.imageAd{
	width: 70%;
	margin-top: 10px;
}

/* -------product-------- */

select{
	color:sienna;
	font-size: larger;
	padding: 12px;
	border: none;
}

.card-body{
	border-top: 4px dotted #ccc;
}

.card-title{
	color:sienna;
}

.card-text{
	color: rgb(115, 99, 87);
	font-size: larger;
}

.pageLink{
	background-color: yellow;
}

#pages{
	background-color: teal;
}

/* --------footer------ */
.footer {
	background: rgb(115, 99, 87);
	width: 100%;
	color: white;
	display: flex;
	flex-wrap: wrap;
}

#left-footer {
	width: 50%;
}

#right-footer {
	width: 50%;
}

.list-inline-item {
	font-size: 30px;
}

.copyright {
	color: white;
	font-size: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 10px;
}

.row dt {
	font-family: mainfont-regular;
	letter-spacing: 1.5px;
}

.row dd {
	font-family: mainfont-light;
	letter-spacing: 0.5px;
}