/* --------全域設定------ */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: mainfont-medium;
}

/* 源泉圓體字型命名!! */
@font-face {
	font-family: mainfont-medium;
	src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
	font-family: mainfont-light;
	src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
	font-family: mainfont-regular;
	src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body {
	background: rgb(250, 246, 243);
	background-image: url(../image/background4.jpg);
	background-attachment: fixed;
}

/* --------product-title------ */
.rentProductMenu-title {
	margin-top: 30px;
	font-family: mainfont-medium;
	color: rgb(117, 76, 36);
	border-bottom: inset 5px rgb(216, 196, 176);
	margin-bottom: 10px;
}

/* --------sideList-title------ */
.sideList-title {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(117, 76, 36);
	color: white;
	border-radius: 10px;
}

/* --------sideList------ */
.sideList {
	padding: 10px;
	font-size: larger;
	background-color: white;
}

/* --------footer------ */
.footer {
	background: rgb(115, 99, 87);
	width: 100%;
	color: white;
	display: flex;
	flex-wrap: wrap;
}

#left-footer {
	width: 50%;
}

#right-footer {
	width: 50%;
}

.list-inline-item {
	font-size: 30px;
}

.copyright {
	color: white;
	font-size: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 10px;
}

.row dt {
	font-family: mainfont-regular;
	letter-spacing: 1.5px;
}

.row dd {
	font-family: mainfont-light;
	letter-spacing: 0.5px;
}