.white{
    color: white;
}
.black{
    color: black;
}
/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background-image: url(../image/background7.png);
    background-size: cover;
    background-attachment: fixed;
}

/* ------main-header------- */



/* ------title------- */
.title{
    color:  rgb(117,76,36);
    margin: 15px 2px;
    width: 100%;
}

/* -------followList------ */


.followListTitle {
    background: rgb(117,76,36);
    color: white;
    height: 50px;
    font-size: 22px;
}

.col-1 , .col-2 , .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}


/* ------item------- */
.listItem{
    background-color: white;
    border: 0.5px solid silver;
    font-size: larger;
    color: rgb(49, 44, 38);
}

.productImg{
    width: 10rem;
    padding: 5px 0px;
}




/* -------goShopBtn----- */
.goShopBtn{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.goShop{
    padding: 40px 0px;
}

/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
    }