
/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background-image: url(../image/background7.png);
    background-size: cover;
    background-attachment: fixed; 
    min-height: 100%;
    position: relative;
}

#content {
	padding-bottom:144px;
}

html, body{
    height: 100%;
}


/*shopcar*/
/* .shop{
    margin: 10px;
    width:1600px;
    height: 800px;
    /* background-color: yellow; 
}*/

.cartMain{
    display: flex;
    flex-wrap: wrap;
}

.A{
    /* display: flex; */
    /* float:left; */
    padding:20px;
    width:50%;

}
.B{
    /* float:right; */
    padding:20px;
    width:50%;
  
}
.box{
    display: flex;
    top: 40px;
}







/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
    }
