    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
        list-style: none;
        font-family: mainfont-medium;
    }
    
    @font-face {
        font-family: mainfont-medium;
        src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
    }
    
    @font-face {
        font-family: mainfont-light;
        src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
    }
    
    @font-face {
        font-family: mainfont-regular;
        src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
    }
    /* Generic */
    
    body .container {
        width: 600px;
    }
    
    #body{
        background: rgb(250, 246, 243);
        background-image: url(../image/background.jpg);
        background-attachment: fixed;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        background-color: #EDF2F0;
        color: #B4B4B4;
        flex-wrap: wrap;
    }
    /**/
    
    .main {
        position: relative;
        width: 1000px;
        height: 570px;
        padding: 25px;
        background-color: #FDFDFD;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 600px;
        height: 100%;
        padding: 25px;
        background-color: #FDFDFD;
        transition: 1.25s;
    }
    
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .form__icon {
        object-fit: container;
        width: 30px;
        margin: 0 5px;
        opacity: .5;
        transition: .15s;
    }
    
    .form__icon:hover {
        opacity: 1;
        transition: .15s;
        cursor: pointer;
    }
    
    .form__input {
        width: 350px;
        height: 40px;
        margin: 4px 0;
        padding-left: 25px;
        font-size: 14px;
        letter-spacing: .15px;
        border: none;
        outline: none;
        font-family: 'Montserrat', sans-serif;
        color: #B4B4B4;
        background-color: #F2F7F5;
    }
    
    .form__span {
        margin-top: 30px;
        margin-bottom: 12px;
    }
    
    .form__link {
        color: #2F2F2F;
        font-size: 15px;
        margin-top: 10px;
        border-bottom: 1px solid #B4B4B4;
        line-height: 1;
    }
    
    .form__group {
        color: #2F2F2F;
        font-size: 15px;
        margin-top: 10px;
        float: left;
        margin-right: 250px;
    }
    
    .title {
        font-size: 35px;
        font-weight: 700;
        line-height: 3;
        /* color: #34A89A; */
        color: rgb(117, 76, 36);
    }
    
    .description {
        font-size: 16px;
        letter-spacing: .25px;
        text-align: center;
        line-height: 1.6;
    }
    
    .button {
        width: 200px;
        height: 55px;
        border-radius: 27.5px;
        margin-top: 50px;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1.15px;
        /* background-color: #44b390; */
        background-color: #df9b2f;
        color: #FDFDFD;
        border: 2px solid #FDFDFD;
        outline: none;
    }
    /**/
    
    .a-container {
        z-index: 100;
        left: calc(100% - 600px);
    }
    
    .b-container {
        left: calc(100% - 600px);
        z-index: 0;
    }
    
    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 400px;
        padding: 50px;
        z-index: 200;
        transition: 1.25s;
        /* background-image: linear-gradient(45deg, #44b390, #34A89A); */
        background-image: linear-gradient(45deg, #DE992B, #da9c3a);
        overflow: hidden;
    }
    /* 上下為主色調色盤 */
    
    .switch__circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-image: linear-gradient(-45deg, #ed992b, #d88b27);
        bottom: -60%;
        left: -60%;
        transition: 1.25s;
    }
    
    .switch__circle--t {
        top: -30%;
        left: 60%;
        width: 300px;
        height: 300px;
    }
    
    .switch__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 400px;
        padding: 50px 55px;
        transition: 1.25s;
    }
    
    .switch__title,
    .switch__description,
    .switch__button {
        color: #FDFDFD;
        font-family: mainfont-regular;
    }
    
    .switch__button {
        border: 2px solid #FDFDFD;
        cursor: pointer;
    }
    
    .switch__button:hover {
        transform: scale(1.015);
        transition: .15s;
    }
    
    .switch__button:active {
        transform: scale(0.9);
        transition: .15s;
    }
    /**/
    
    .is-txr {
        left: calc(100% - 400px);
        transition: 1.25s;
        transform-origin: left;
    }
    
    .is-txl {
        left: 0;
        transition: 1.25s;
        transform-origin: right;
    }
    
    .is-z200 {
        z-index: 200;
        transition: 1.25s;
    }
    
    .is-hidden {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: 1.25s;
    }
    
    .is-gx {
        animation: is-gx 1.25s;
    }
    
    @keyframes is-gx {
        0%,
        10%,
        100% {
            width: 400px;
        }
        30%,
        50% {
            width: 500px;
        }
    }
    /* 驗證碼 */
    
    .modal-header2 {
        padding: 1rem 10rem;
    }
    
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 29vh;
        min-width: 30vh;
    }
    
    #captcha {
        --width: 400px;
        --height: 260px;
        --puzzle-width: 80px;
        --puzzle-height: 80px;
        --offset-left: var(--width) * -1;
        --moved: 0px;
        display: block;
        width: var(--width);
        height: var(--height);
        border-radius: 4px;
        background-image: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2700&q=80);
        background-size: cover;
        background-position: center;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    }
    
    #captcha::before,
    #captcha::after {
        position: absolute;
        content: '';
        display: block;
        width: inherit;
        height: inherit;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        clip-path: inset( calc( (var(--height) - var(--puzzle-height)) / 2)/* 90px */
        var(--puzzle-width)/* 90px */
        calc( (var(--height) - var(--puzzle-height)) / 2)/* 90px */
        calc( var(--width) - var(--puzzle-width) * 2)/* 230px */
        );
        -webkit-clip-path: inset( calc( (var(--height) - var(--puzzle-height)) / 2)/* 90px */
        var(--puzzle-width)/* 90px */
        calc( (var(--height) - var(--puzzle-height)) / 2)/* 90px */
        calc( var(--width) - var(--puzzle-width) * 2)/* 230px */
        );
    }
    
    #captcha::after {
        transform: translatex( clamp( calc( var(--width) * -1), calc( (var(--width) * -1) + var(--moved)), calc( var(--puzzle-width))));
        transition: .25s all ease-in-out;
    }
    
    #captcha:active::after {
        transition: none;
    }
    
    #captcha::before {
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
    }
    
    #handle {
        width: calc( var(--width) + var(--puzzle-width) * 2);
        height: 30px;
        border-radius: 18px;
        background-color: #eee;
        position: absolute;
        bottom: -50px;
        left: calc( var(--puzzle-width) * 2 * -1);
        box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .2);
        border: 3px solid #ccc;
    }
    
    #handle span {
        display: block;
        width: var(--puzzle-width);
        height: inherit;
        border-radius: inherit;
        background-color: #fff;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .25), 0px 2px 4px rgba(0, 0, 0, .3);
        position: absolute;
        cursor: move;
        transform: translatex( clamp( 0px, var(--moved), calc( var(--width) + var(--puzzle-width))));
        transition: .25s all ease-in-out;
    }
    
    #captcha:active #handle span {
        transition: none;
    }
    
    #captcha.passed::before,
    #captcha.passed::after,
    #captcha.passed #handle {
        opacity: 0;
    }



    /* --------footer------ */
        .footer{
        background:rgb(115,99,87);
        width: 100%;
        color:white;
        display: flex;
        flex-wrap: wrap;
    }

    #left-footer{
        width: 50%;
        
    }

    #right-footer{
        width: 50%;
        
    }
        
    .list-inline-item{
        font-size: 30px;
    }

    .copyright{
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 10px;
    }

    .row dt{
        font-family: mainfont-regular;
        letter-spacing: 1.5px;
    }

    .row dd{
        font-family: mainfont-light;
        letter-spacing: 0.5px;
        }