/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background: rgb(250, 246, 243);
    background-image: url(../image/background7.png);
    background-size: cover;
    background-attachment: fixed; 
    min-height: 100%;
    position: relative;
}

#content{
    padding-bottom: 144px;
}

html, body{
    height: 100%;
}

/* ------titlt------- */
.title{
    color: rgb(115,99,87);
    margin: 20px 100px;
    font-size: 18px;
}

.recordTitle{
    color: rgb(117,76,36);  
    font-size: 40px;
    size: 8px;
}

/* ---------Form--------- */
.recordForm{
    border-radius: 30px;
    border: saddlebrown solid;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    padding:20px;
        
 }

.formRow label{
    color: rgb(115,99,87);
    font-size: 20px;
    letter-spacing: 1px;
}

.formRow{
    margin-bottom: 15px;
    padding-left: 20px;
}



/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
