/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
    
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background-image: url(../image/background7_工作區域\ 1.png);
    background-attachment: fixed;
    background-size: cover;
    
}

/* ------titlt------- */

.title{
    color: rgb(115,99,87);
    margin: 20px 100px;
    font-size: 18px;
}


.reservationTitle{
    color: rgb(117,76,36);  
    font-size: 40px;
    size: 8px;
}


/*---- reservation list ----*/
.list{
    margin-bottom:30px;
    border-radius: 15px;
    border: saddlebrown dotted 5px;
    padding: 1em; 
    background-color: rgba(255, 255, 255, 0.7);
}

/* ----左邊預約序號----- */
.reservationNum {
    border-radius: 20px;
    background-color: wheat;
    height: 100%;
    text-align: center;
    line-height: 110px;
}

.numTitle{
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(115,99,87);
}

.number{
    color: white;
    font-size: 80px;
    letter-spacing: 6px;
}

/* 若可預約要去掉display:none */
.link{
    display:contents;
    text-decoration: none;
    color:rgb(146, 74, 11);
    font-size: 20px;
    letter-spacing: 3px;
}

/* ----中間訂單資訊----- */
.reservationInfo li{
    padding-left: 20px;
    line-height: 80px;
    font-size: 25px;
    color: rgb(115,99,87);
}

.infoLink{
    text-decoration: none;
    color: rgb(115,99,87);
}

/* ----右邊商品圖片---- */
.img{
    height: 360px;
    width: 360px;
}

/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
