/* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
    
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background-image: url(../image/background7_工作區域\ 1.png);
    background-attachment: fixed;
    background-size: cover;
    
}


.title{
    color: rgb(115,99,87);
}


.reservationTitle{
    color: rgb(117,76,36);  
    font-size: 40px;
    size: 8px;
}

/* 預約邊縣 */
.con {
    border-radius: 15px;
    border: black solid;
    margin: 2em; 
}

/* 預約左右寬 */
.container {
    max-width: 80%;
}

/* 預約序號css */
.square {
    border-radius: 20px;
    border: black solid;
    height: 94%;
    text-align: center;
    line-height: 110px;
    margin: 10px 10px 10px 10px;
}


/* 中間文字css */
.k {
    padding-left: 100px;
    line-height: 80px;
    font-size: 25px;
}
/* 兩個以上間隔距離 */
.list{
    margin-bottom:30px;
}


/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
