
 /* --------全域設定------ */
 *{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
    
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background-image: url(../image/background7_工作區域\ 1.png);
    background-attachment: fixed;
    background-size: cover;
    
}

/* -------title------- */

.title{
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(115,99,87);
}

.rentitemtitle{
    color: rgb(117,76,36);
    font-size: 40px;
    size: 8px;    
}


.header-search{
    font-size: 18px;
    margin-left: 10px;
    color: rgb(115,99,87);
}

/*---- 訂單區塊----- */

.queryForm{
    /* margin: 0 auto; */
    width: 100%;
    /*height: 80vh;*/
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: 1em;
}


/*---- 訂單區塊-上方----- */
.topContainer{
    border-radius: 30px;
    border:saddlebrown dotted 3px ;
    color: rgb(115,99,87);
}

.orderProgress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.itemFormTitle {
    display: flex;
    justify-content: center;
    background:  #f39700;
    color: white;
    font-size: larger;
}

.itemFormTitle div{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

#flush-heading{
    background: none;
}
.itemFormDetail{
    background-color: white;
    display: flex;
    justify-content: center;
}

.itemFormDetail div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.list{
    width: 100%;
    /*height: 80vh;*/
     display: flex;
     justify-content: center;
}



/* ------ 下拉資訊----- */
.bottomContainer{
    padding: 15px 30px;
}

.accordion-body{
    background-image: url(../image/background7.png); 
    
}

.orderDetailTitle{
    display: flex;
    justify-content: center;
    background:  #f39700;
    color: white;
    font-size:medium;
}

.orderDetailTitle div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
}


.orderDetail{
    background-color: white;
    display: flex;
    justify-content: center;
    color:  rgb(115,99,87);
    font-size: 16px;
}


.orderDetail div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

/* -----評價視窗----- */
.modal-body{
    font-size:20px;
}

.modalTitle{
    background-color: rgb(218, 180, 56);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modalTitle h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    letter-spacing: 2px;
}

.titleWord{
    color: white;
}

.productName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: saddlebrown;
}

.rateForm div{
    padding-left: 78px;
    letter-spacing: 2px;
}

.comment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}




.list li{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    /*background-color: #fff;*/
    background-image: linear-gradient(9deg,#f39700,#Ee7b1a);
    border-radius: 50% ;
    position: relative;
    font-size: 15px;
    color:#fff;
    align-items: center;
}

.list li .fa{
    font-size: 50px;
    margin-bottom: 6px;
}

.list li + li{
    margin-left: 50px; 
}

.list li.active~li{
    background-image: linear-gradient(9deg,#999,#CCC);
}


.list li.active ~ li::before{
    background-color: #999;
}


.list li + li::before{
    content: '';
    position:absolute;
    width: 100px;
    height: 5px;
    background-color: #f39700;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100px;
    margin: auto;
}


/* --------評價視窗------- */





/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}














































 
/*
#snackbar {

    visibility: hidden;
    
    min-width: 250px;
    
    margin-left: -125px;
    
    background-color: #333;
    
    color: #fff;
    
    text-align: center;
    
    border-radius: 2px;
    
    padding: 16px;
    
    position: fixed;
    
    z-index: 1;
    
    left: 50%;
    
    bottom: 30px;
    
    font-size: 17px;
    
    }
    
    #snackbar.show {
    
    visibility: visible;
    
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    
    }
    
    @-webkit-keyframes fadein {
    
    from {bottom: 0; opacity: 0;}
    
    to {bottom: 30px; opacity: 1;}
    
    }
    
    @keyframes fadein {
    
    from {bottom: 0; opacity: 0;}
    
    to {bottom: 30px; opacity: 1;}
    
    }
    
    @-webkit-keyframes fadeout {
    
    from {bottom: 30px; opacity: 1;}
    
    to {bottom: 0; opacity: 0;}
    
    }
    
    @keyframes fadeout {
    
    from {bottom: 30px; opacity: 1;}
    
    to {bottom: 0; opacity: 0;}
    
    }*/





/*html,body{
    height: 100%;
}
body{
 
}


.header-search{
    margin: 2em;
}
*/



