 /* --------全域設定------ */
*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    font-family: mainfont-medium;
       
}

/* 源泉圓體字型命名!! */
@font-face {
    font-family: mainfont-medium;
    src: url(../fonts/GenSenMaruGothicTW-Medium.ttf);
}
@font-face {
    font-family: mainfont-light;
    src: url(../fonts/GenSenMaruGothicTW-Light.ttf);
}
@font-face {
    font-family: mainfont-regular;
    src: url(../fonts/GenSenMaruGothicTW-Regular.ttf);
}

#body{
    background: rgb(250, 246, 243);
    background-image: url(../image/background5.jpg);
    background-attachment: fixed;
}





/* ------main-header------- */

#logo{
    width:85%;
    display: flex;
    justify-content: flex-start;
}
.navbar{
    background: #412e11;
    height: 100px;    
}

.textSize{
    font-size: 19px;
<<<<<<< Updated upstream
=======
    display: inline-block;
>>>>>>> Stashed changes

}
.navbar-nav{
    display: flex;
    justify-content:space-around;
    
}
.left-menu{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}




/* ------news and product-------- */

.newsAndProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* --------news------ */
.newsAndProduct-Head{
    padding-top: 50px;
    font-family: mainfont-medium;
    color: white;
    border-bottom: ridge 5px white;
   
}

.news {
  width: 30%;
  flex-wrap: nowrap;
  align-content: center;
  color: white;
}

.line{
    color:rgb(247, 229, 214);
}

#newsHead{
    font-size: 25px;
    padding: 5px 15px;
}

#newsContent{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: mainfont-light;
    align-items: center;
    padding: 10px 15px;
    padding-bottom: 20px;
    background-color: seashell;
    color: sienna;
    border-radius: 10px;
}




/* --------Product------ */

.product-card {
  width: 70%;
  color: rgb(117,76,36);
}

.card-title{
    letter-spacing: 0.5px;
}


.card-body p{
    font-size: 20px;
    font-family: mainfont-regular;
    color:crimson;
    letter-spacing: 0.8px;    
}

.row-3{
    display: flex;
    justify-content:space-between;
}





/* --------footer------ */
.footer{
    background:rgb(115,99,87);
    width: 100%;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

#left-footer{
    width: 50%;
    
}

#right-footer{
    width: 50%;
    
}

.list-inline-item{
    font-size: 30px;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.row dt{
    font-family: mainfont-regular;
    letter-spacing: 1.5px;
}

.row dd{
    font-family: mainfont-light;
    letter-spacing: 0.5px;
    }